# HTTP Server
PORT=8080

# Database
# Format: postgres://username:password@host:port/database_name?sslmode=disable
DATABASE_URL=postgres://postgres:postgres@localhost:5432/studio_os?sslmode=disable

# Authentication
# Must be at least 32 characters for production
JWT_SECRET=super-secret-local-dev-key

# Goose Migrations
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:postgres@localhost:5432/studio_db?sslmode=disable
GOOSE_MIGRATION_DIR=migrations
